* {
color: blueviolet;
border: 1px dotted red;
}

h2 {
    background-color: aqua;
    color: red;
}

h3{
    
    color: blue;
}

h3 {
    margin-left: 400px;
}
.vip_items {
    height: 50px;
    width: 120px;
    display: inline;
    color: black;
    background-color: blueviolet;
}

span{
display: block;

}

#vip_vip1 {
    background-color:burlywood;
}