* {
color: blueviolet;

}

h2 {
    background-color: aqua;
    color: red;
}

h3{
    color: blue;

}
.vip_items {
    color: black;
    background-color: blueviolet;
}

#vip_vip {
    background-color:burlywood;
}





