div{
    background-color: aqua;
    border: 2px solid black;
    margin: 5px;
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: larger;
}


img{
    width: 100px;
    height: 100px;
}


video{
    width: 300px;
    height: 300px; 
}