
header{
    height: 30px;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

header img{
    height: 10px;
    width: 10px;
}

header button{
    color:white;
    background-color:#3a5795;
    font-weight: bolder;
    border: solid 0.5px gray;
}

header a{
    text-decoration: none;
    font-weight: bolder;
    color: #666666;
}


nav{
display: flex;
flex-wrap: wrap;
}

nav div{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}


@media screen and (max-width:600px) {
    nav div{
        width: 99%; 
        display: flex;
        flex-wrap: wrap;
    }
    
    nav a{
        display: block;
        background-color: aqua;
        width: 100px;

    }
}

    
nav img{
    width: 30%;
}

nav a{
    text-decoration: none;
    font-weight: bolder;
    color: darkblue;
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}