*{
    border: 1px dotted black;
}
body{
    background-color:lightgray;
    height: 360px;
    width:80%;
    display: flex;
    margin: 0% 10%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
header{
    height: 80px;
    width: 100%;
    background-color: green;
}
main{
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
section{
width: 65%;
height: inherit;
background-color: red;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 2% 4% 0% 2%;
}
#boxes{
    width: 95%;
    height: 50%;  
    display: flex;
    justify-content: space-between;
    
}

.box{
    width: 31%;
    height: 100%;
    background-color: yellow;
}
#rectangle{
    width: 95%;
    height: 35%;
    background-color: purple;
    margin-bottom: 22px;

}

aside{
    width: 25%;
    height: 70%;
    background-color: blue;
}